*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: 100%;
}

.black-scheleton{
    border: 3px solid black;
}

.red-scheleton{
    border: 3px solid red;
}

.green-scheleton{
    border: 3px solid green;
}

.blue-scheleton{
    border: 3px solid blue;
}

.yellow-scheleton{
    border: 3px solid yellow;
}